.page {
  --auth-header-padding-top: 75px;
  --auth-header-content-offset: -4px;
  --auth-form-container-left: -11px;
  --auth-form-container-padding-top: 94px;
  --auth-form-frame-width: 657px;
  --auth-footer-content-offset: -5px;
  --auth-footer-badges-width: 473px;
}
